@model Fiap.Exemplo01.MVC.Models.Cliente
@{
    ViewBag.Title = "Gravar";
}

<h2>Dados do Cliente</h2>

<div>
    Nome: <h4>@Model.Nome</h4>
  Idade:  <h4>@Model.Idade</h4>
    Email: <h4>@Model.Email</h4>
</div>

