@model List<Fiap.Exemplo02.MVC.Models.Cerveja>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Marca</th>
        <th>Preço</th>
        <th>Possui Alcool</th>
        <th>Tipo</th>
        <th>Validade</th>
    </tr>

   @foreach (var c in Model)
   {
 @Html.Partial("_linhaTabela",c)
   }
   

</table>
